.signup-container{
    color:black;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
}

input{
    margin: 10px;
    border: 2px solid lightcyan;
    border-radius: 5px;
    height: 25px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}